body, html {
  height: auto;
  width: 100%;
  background-color: #E5E5E5;
}

.loadDiv {
  width: 105%;
  height: 149%;
  background-color: #BACFF3;
  margin-top: -5%;
  margin-left: -2%;
  margin-bottom: -78%;
  position: absolute;
  z-index: 10000;
}

.loadh1 {
  font-size: 5vw;
  color: rgb(68, 68, 68);
  margin-left: 38%;
  margin-bottom: 0;
  margin-top: 20%;
  font-family: 'Julius Sans One';
}

.load {
  width: 10%;
  height: auto;
  margin-top: 44%;
  margin-left: -24%;
}

.index{
  width: 80%;
  height: auto;
  background-color: #BACFF3;
  margin-left: 7.8%;
  margin-top: 5%;
  padding-top: 2.5%;
  margin-top: 4.5%;
  border-radius: -1%;
  border: .5vw solid rgb(255, 255, 255);
}

.titleDiv{
  position: absolute;
  margin-top: -0.7%;
  margin-left: 58.5%;
}

h1 {
  position: absolute;
  font-size: 4vw;
  color: rgb(68, 68, 68);
  margin-left: 56.8%;
  margin-bottom: -44.6%;
  margin-top: 12%;
  font-family: 'Julius Sans One';
}

#map {
  width: 33.1%;
  height: 0;
  margin-left: 13.3%;
  margin-top: -43%;
  padding-bottom: 33.1%;
  border-radius: 50%;
  border: solid rgb(0, 0, 0) 0.2vw;
  position: relative;
  z-index: 1;
}

.portHole2 {
  width: 80%;
  height: 0%;
  margin-left: 4%;
  margin-top: 25%;
  position: relative;
}

.PortMap {
  position: relative;
  width: 117%;
  height: auto;
  margin-left: -2.6%;
  margin-top: -29.5%;
}

.weatherStats {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Julius Sans One";
  font-size: 1.4vw;
  height: auto;
  width: 25.4%;
  background-color: rgba(165, 165, 165, .05);
  margin-top: 40%;
  margin-bottom: -60.7%;
  margin-left: 56%;
  position: absolute;
  border: 5px solid rgba(165, 165, 165, .5);
  z-index: 5;
}

.targ {
  width: 65.8%;
  margin-top: -24%;
  height: auto;
  margin-left: 4%;
  position: absolute;
  z-index: 1;
}

.current {
  color: black;
  text-align: center;
  font-family: "Orbitron";
  font-size: 1.4vw;
  margin-left: 2%;
  font-weight: bolder;
}

hr {
  width: 100%;
  margin-bottom: 1.2%;
  margin-top: -4.6%;
  height: 2px;
  background-color: white;
  border: none;
}

.dat{
  font-family: "orbitron";
  font-size: 2vw;
  margin-left: 5%;
}

.butt {
  font-family: Julius Sans One;
  width: 19%;
  margin-left: 61.3%;
  position: absolute;
  margin-top: -8%;
  font-size: 1.4vw;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #D7E3F7;
  border: 3px solid #BACFF3;
}

:hover.butt {
  font-family: Julius Sans One;
  width: 19%;
  margin-left: 61.3%;
  position: absolute;
  margin-top: -8%;
  font-size: 1.4vw;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #BACFF3;
  border: 3px solid #BACFF3;
}

@media (max-width:600px) {
