body, html {
  height: 40%;
  width: 100%;
  background-color:rgb(206, 206, 206);
}

.loadDiv {
  width: 105%;
  height: 149%;
  background-color: rgb(165, 165, 165);
  margin-top: -5%;
  margin-left: -2%;
  margin-bottom: -78%;
  position: absolute;
  z-index: 10000;
}

.loadh1 {
  font-size: 5vw;
  color: rgb(68, 68, 68);
  margin-left: 38%;
  margin-bottom: 0;
  margin-top: 20%;
  font-family: 'Julius Sans One';
}

.load {
  width: 10%;
  height: auto;
  margin-top: 44%;
  margin-left: -24%;

}

.index{
  width: 80%;
  height: 76%;
  background-color: rgb(165, 165, 165);
  margin-left: 7.8%;
  margin-top: 5%;
  padding-top: 2.5%;
  margin-top: 2.5%;
  border-radius: 3%;
  border: 1vw solid  rgb(255, 255, 255);
}

.titleDiv{
  position: absolute;
  margin-top: -0.7%;
  margin-left: 58.5%;
}

h1 {
  position: absolute;
  font-size: 4vw;
  color: rgb(68, 68, 68);
  margin-left: 56.8%;
  margin-bottom: -44.6%;
  margin-top: 12%;
  font-family: 'Julius Sans One';
}

#map {
  width: 31.3%;
  height: 0;
  margin-left: 14.9%;
  margin-top: -160.4%;
  padding-bottom: 31.3%;
  border-radius: 50%;
  border: solid rgb(68, 68, 68) 0.5vw;
  position: absolute;
}

.portHole {
  width: 80%;
  height: 0%;
  padding-bottom: 82%;
  margin-left: 5%;
  position: relative;
}

.PortMap {
  position: relative;
  width: 117%;
  height: auto;
  margin-left: -2.6%;
  margin-top: -29.5%;
}

.weatherStats {
  color: rgb(68, 68, 68);
  text-align: center;
  font-family: "Julius Sans One";
  font-size: 1.4vw;
  height: 25%;
  width: 25.4%;
  background-color: rgb(165, 165, 165);
  margin-top: 39%;
  margin-bottom: -58.4%;
  margin-left: 56%;
  position: relative;
  border: 5px solid gray;
  z-index: 1;
}


.targ {
  width: 65.8%;
  margin-top: -96.3%;
  height: auto;
  margin-left: 4.5%;
  position: absolute;
}



.current {
  text-align: center;
  font-family: "Orbitron";
  font-size: 1.4vw;
  margin-left: 2%;
  font-weight: bolder;
}

hr {
  width: 100%;
  margin-bottom: 3.8%;
  margin-top: -3.7%;
  height: 2px;
  background-color: white;
  border: none;
}

.dat{
  font-family: "orbitron";
  font-size: 2vw;
  margin-left: 5%;
}

@media (max-width:600px) {
  body {
    transform: rotate(90deg);
    height: 100%;
    width: 100%;
  }

  .index {
    width: 123%;
    height: 52%;
    background-color: rgb(165, 165, 165);
    margin-left: -16.2%;
    margin-top: 5%;
    padding-top: 2.5%;
    margin-top: 2.5%;
    border-radius: 3%;
    border: 1vw solid rgb(255, 255, 255)
  }

  .targ {
    width: 85.8%;
    margin-top: -134.3%;
    height: auto;
    margin-left: 4.5%;
    position: absolute;
  }

}
