body, html {
  height: auto;
  width: 100%;
  background-color:white;
}

.loadDiv {
  width: 105%;
  height: 110%;
  color: #ECECEC;
  background-color: #08304B;
  margin-top: -8%;
  margin-left: -2%;
  margin-bottom: -78%;
  position: absolute;
  z-index: 10000;
}

.hr1{
  width: 100%;
  height: .1vw;
  background-color: #ECECEC;
  border: none;
  margin-top: 8%;
  text-align: center;
}

.hr2{
  width: 100%;
  height: .12vw;
  background-color: #ECECEC;
  border: none;
  margin-top: 8%;
  text-align: center;
}

.loadh1 {
  font-size: 3.9vw;
  color: #ECECEC;
  margin-left: 39.3%;
  margin-bottom: 0;
  margin-top: 6%;
  font-family: 'Orbitron';
  text-align: center;
}

.load {
  width: 3%;
  height: auto;
  margin-top: 15.4%;
  margin-left: 47.5%;
}

.index{
  width: 80%;
  height: auto;
  background-color: rgb(20, 100, 116);
  margin-left: 7.8%;
  margin-top: 5%;
  padding-top: 2.5%;
  margin-top: 7.5%;
  border-radius: -9%;
  border: .5vw solid rgb(0, 0, 0);
}

.titleDiv{
  position: absolute;
  margin-top: -0.7%;
  margin-left: 56.5%;
}

h1 {
  position: absolute;
  font-size: 3.7vw;
  color: #ECECEC;
  margin-left: 56.8%;
  margin-bottom: -44.6%;
  margin-top: 12%;
  font-family: 'Orbitron';
}

#map {
  width: 33.1%;
  height: 0;
  margin-left: 13.3%;
  margin-top: -47.1%;
  padding-bottom: 33.1%;
  border-radius: 50%;
  border: solid black 0.2vw;
  position: relative;
  z-index: 1;
}

.portHole2 {
  width: 80%;
  height: 0%;
  margin-left: 4%;
  margin-top: 17%;
  margin-bottom: 4%;
  position: relative;
}

.PortMap {
  position: relative;
  width: 117%;
  height: auto;
  margin-left: -2.6%; q v
   margin-top: -29.5%;
}

.weatherStats {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Julius Sans One";
  font-size: 1.4vw;
  height: auto;
  width: 25.4%;
  background-color: rgba(165, 165, 165, .05);
  margin-top: 32%;
  margin-bottom: -60.7%;
  margin-left: 56%;
  position: absolute;
  border: 5px solid rgba(165, 165, 165, .5);
  z-index: 5;
}

.targ {
  width: 72.8%;` `
  margin-top: -26.5%;
  height: auto;
  margin-left: 1.3%;
  position: absolute;
  z-index: 1;
   /*display: none; */
}

.current {
  color: black;
  text-align: center;
  font-family: "Orbitron";
  font-size: 1.4vw;
  margin-left: 2%;
  font-weight: bolder;
}

hr {
  width: 100%;
  margin-bottom: 1.2%;
  margin-top: -4.6%;
  height: 2px;
  background-color: white;
  border: none;
}

.dat{
  font-family: "orbitron";
  font-size: 2vw;
  margin-left: 5%;
}

.butt {
  font-family: Julius Sans One;
  width: 19%;
  margin-left: 61.3%;
  position: absolute;
  margin-top: -9%;
  font-size: 1.4vw;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #08304B;
  border: 3px solid black;
  color: #ECECEC;
}

:hover.butt {
  font-family: Julius Sans One;
  width: 19%;
  margin-left: 61.3%;
  position: absolute;
  margin-top: -9%;
  font-size: 1.4vw;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #ECECEC;
  border: 3px solid #C2E4E1;
  color: rgb(20, 100, 116);
}

@media (max-width:600px) {
